{% extends "base.html" %} 

{% block content %}
<section class="mb-6 table-container">
    <div class="table">
        <h2 class="text-xl mb-2">Providers Table</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Provider ID</th>
                    <th class="px-4 py-2">Provider First Name</th>
                    <th class="px-4 py-2">Provider Last Name</th>
                    <th class="px-4 py-2">Provider Occupation Title</th>
                    <th class="px-4 py-2">Provider Department </th>
                    
                </tr>
            </thead>
            <tbody>
                {% for licenses in data2 %}
                <tr>
                    <td class="border px-4 py-2">{{ providers.provider_id }}</td>
                    <td class="border px-4 py-2">{{ providers.provider_first_name }}</td>
                    <td class="border px-4 py-2">{{ providers.provider_last_name }}</td>
                    <td class="border px-4 py-2">{{ providers.provider_occupation_title }}</td>
                    <td class="border px-4 py-2">{{ providers.provider_department}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}